<header class="black-bg mh-header mh-fixed-nav nav-scroll mh-xs-mobile-nav" style="z-index: 10; font-family: 'Permanent Marker';">
            @* <div class="overlay"></div> *@
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg mh-nav nav-btn">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto ml-auto">



                                <li class="nav-item active">
                            <a style="font-family: 'Permanent Marker';" class="nav-link" href="">Home</a>
                                </li>


                                <li class="nav-item">
                            <a style="font-family: 'Permanent Marker';" class="nav-link" href="About">About</a>
                                </li>
                             @*    <li class="nav-item">
                            <a style="font-family: 'Permanent Marker';" class="nav-link" href="Skills">Skills</a>
                                </li>                   *@              
                                <li class="nav-item">
                            <a style="font-family: 'Permanent Marker';" class="nav-link" href="Experiences">Experiences</a>
                                </li>                                
                               @*  <li class="nav-item">
                            <a style="font-family: 'Permanent Marker';" class="nav-link" href="Portfolio">Portfolio</a>
                                </li>                         *@       


                            </ul>




                        </div>
                    </nav>
                </div>
            </div>
        </header>