<section class="mh-experince image-bg featured-img-one" id="mh-experience">
	<div class="img-color-overlay">
		<div class="container">
			<div class="row section-separator">
				<div class="col-sm-12 col-md-6">
					<div class="mh-education">
						<h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Education</h3>
						<div class="mh-education-deatils">
							<!-- Education Institutes-->

							<div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
								<h4>.NET-Development <a href="https://www.iths.se/">It-Högskolan</a></h4>
								<div class="mh-eduyear">Aug 2020 - Aug 2022</div>
								<p>It was time for a change to pursue somthing i truly enjoy.</p>
							</div>

							<!-- Education Institutes-->


							<div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
								<h4>
									Operating technician

									<a href="#">Teknologiska Högskolan</a>
								</h4>
								<div class="mh-eduyear">2012 - 2013</div>
								<p>
									
								</p>
							</div>





							<!-- Education Institutes-->
							<div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
								<h4>
									The electricity program
									<a href="#">Tumba Gymnasium</a>
								</h4>
								<div class="mh-eduyear">2005 - 2011</div>
								<p>
								
								</p>
							</div>
						</div>
					</div>
				</div>






				<div class="col-sm-12 col-md-6">
					<div class="mh-work">
						<h3>Work Experience</h3>
						<div class="mh-experience-deatils">
							<!-- Education Institutes-->
							<div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
								<h4>Fullstack developer at <a href="#">Hexastudio AB</a></h4>
								<div class="mh-eduyear">Aug 2021- October 2023</div>
								<span>Responsibility :</span>
								<ul class="work-responsibility">


									<li><i class="fa fa-circle"></i>Project Management</li>
									<li><i class="fa fa-circle"></i>Backend code</li>
									<li><i class="fa fa-circle"></i>Frontend code</li>
									<li><i class="fa fa-circle"></i>IoT</li>
									<li><i class="fa fa-circle"></i>Azure</li>
									<li><i class="fa fa-circle"></i>Microservices</li>
									<li><i class="fa fa-circle"></i>Linux servers</li>
									<li><i class="fa fa-circle"></i>Various administrative tasks</li>


								</ul>
							</div>
							<!-- Education Institutes-->
							<div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">

								<h4>Fullstack developer at <a href="#"> Front End Strategy AB</a></h4>
								<div class="mh-eduyear">2021 (intership)</div>
								<span>Responsibility :</span>
								
								<p>
									Agile desgin and development of a microservice architecture / prototype of a military planing tool
								</p>


							</div>
							<!-- Education Institutes-->
							<div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
								<h4>Mixed experience from various industries <a href="#">--</a></h4>
								<div class="mh-eduyear">2013-2021</div>
						
								<ul class="work-responsibility">
									<li><i class="fa fa-circle"></i>Electrician</li>
									<li><i class="fa fa-circle"></i>Electronic assembler at Delanode</li>
									<li><i class="fa fa-circle"></i>Electronic assembler at DeLaval</li>
									<li><i class="fa fa-circle"></i>Project Manager / administrator at Promentgruppen AB</li>
									<li><i class="fa fa-circle"></i>Administrator / Receptionist at Södersjukhuset</li>

								</ul>
							</div>
						</div>
					</div>

				</div>





			</div>
		</div>
	</div>
</section>