@page "/"

<PageTitle>Home</PageTitle>






<Home />
<div class="container">
    <h1>Currently under development.</h1>

</div>

<AboutMe />

<Service />

<Projects />


<Portfolio.Components.IndexComponents.Skills />

<Experiences />

<ViewPortfolio />

@*<Dump/>*@










