@inherits LayoutComponentBase

<div class="page">

  @*   <NavBar /> *@





    <div class="row pt-5"></div>

    <main class="dark-vertion black-bg">
        

     
            @Body
        
    </main>
</div>
